[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
"Jinja2" = "*"
Markdown = "*"
MarkupSafe = "*"
Werkzeug = "*"
arrow = "*"
bcrypt = "*"
cffi = "*"
itsdangerous = "*"
pycparser = "*"
python-dateutil = "*"


[dev-packages]



[requires]

python_version = "3.6"
