{% extends "layout.html" %}

{% block body %}

<div class="column-1">
	<div class="box summary">
		<h2>Hey {{ user.name }}!</h2>
		<ul class="reminders-list list">
			{% for reminder in user.reminders() %}
				<li class="{{ loop.cycle('even', 'odd') }}">
					{% if reminder.type == 'birthday' %}
						Birthday: {{ reminder.user }} in {{ reminder.user.days_to_birthday() }} days
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="box expenses">
		<div class="buttons">
			<a href="#" class="button">Edit</a>
		</div>
		<h2>Monthly Expenses</h2>
		<table>
			{% for expense in user.expenses() %}
				<tr class="{{ loop.cycle('even', 'odd') }}">
					<td><a href="{{ url_for('wiki_page', key=expense.title) }}">{{ expense.title }}</a></td>
					<td class="amount">{{ expense.amount|currency }} {{ config.CURRENCY }}</td>
				</tr>
			{% endfor %}
			<tr class="sum">
				<td>&nbsp;</td>
				<td class="amount">{{ user.expenses()|sum(attribute='amount')|currency }} {{ config.CURRENCY }}</td>
			</tr>
		</table>
	</div>
</div>

<div class="column-2">
	<div class="box">
		<h2>Spending Share</h2>
		<table>
			{% for user, amount in spending|dictsort(by='value') %}
				<tr class="{{ loop.cycle('even', 'odd') }}">
					<td>{{ user }}</td>
					<td class="amount {% if amount > 0 %}positive{% elif amount == 0 %}neutral{% else %}negative{% endif %}">{{ amount|currency }} {{ config.CURRENCY }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<div class="box messages">
		<h2>Message Board</h2>
		<form action="{{ url_for('message_new') }}" method="post" class="clearfix">
			<textarea name="message" placeholder="New Message"></textarea>
			<input type="submit" value="Speichern" class="button main">
		</form>
		<ul class="messages-list list">
			{% for message in messages %}
				<li class="{{ loop.cycle('even', 'odd') }}"><a href="{{ url_for('wiki_page', key=message.author.name + '_' + message.author.last_name) }}">{{ message.author.name }}</a>: {{ message.message }}</li>
			{% endfor %}
		</ul>

	</div>
</div>
{% endblock %}