table
	width: 100%
	border-spacing: 0
	tr
		line-height: 35px
		&.even
			&:hover
				background-color: rgba(255,255,255,1)
		&.odd
			background-color: rgba(255,255,255,0.5)
			&:hover
				background-color: rgba(255,255,255,1)
		td
			padding: 10px
			&.amount
				text-align: right
