@import compass

.wrapper
	width: 100%
	max-width: 960px
	min-height: 100%
	margin: auto
	padding-left: 10px
	padding-right: 10px

.column-1
	max-width: 450px
	width: 100%
	float: left

.column-2
	max-width: 450px
	width: 100%
	float: right

.box
	margin-top: 2em
	border-radius: 10px
	width: 100%
	max-width: 450px
	&.centered
		margin: auto
		margin-top: 2em
	&.full
		max-width: 100%
	h2
		border-bottom: 1px solid $black10
		font-weight: normal
		font-size: 1.5em
		line-height: 2em
		margin-bottom: 10px
	.list
		list-style: none